.footer {
  border-top: 1px solid var(--primary);

  &__container {
    position: relative;
    display: flex;
    padding: 44px 64px 0;
  }

  &__logo {
    position: absolute;
    left: 90px;
    top: 36px;

    img {
      width: 100%;
      height: 100%;
      max-width: 79px;
      max-height: 66px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;

    // justify-content: end;
    align-items: end;
    width: 100%;

    ul {
      display: flex;
      gap: 21.5px;

      &:nth-child(2) {
        margin-top: 15.5px;
      }
    }
  }

  &__link {
    color: #000;

    a {
      font-weight: 400;
      font-size: 12px;
      text-wrap: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include tablet {
  .footer {
    border: none;

    &__container {
      flex-direction: column-reverse;
      padding-top: 23px;
    }

    &__logo {
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 41px 0 43px;

      img {
        width: 100%;
        height: 100%;
        max-width: 131px;
        max-height: 110px;
      }
    }

    &__nav {
      align-items: center;
      text-align: center;

      ul {
        flex-direction: column;
        gap: 13px;
      }
    }

    &__link {
      width: 100%;

      a {
        font-size: 15px;
        text-align: center;
      }
    }
  }
}
