.header {
  height: clamp(74px, 17vw, 100px);
  background-color: #fff;

  &__container {
    position: relative;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;
  }

  &__logo {
    position: absolute;
    left: clamp(28px, 6vw, 75px);
    top: clamp(17px, 3vw, 27px);

    img {
      width: 79px;
      height: 66px;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  &__nav {
    display: flex;
    padding-top: 22px;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;

    ul {
      display: flex;
      gap: 28px;
    }
  }

  &__burger {
    position: absolute;
    right: clamp(42px, 6vw, 75px);
    top: clamp(29px, 3vw, 27px);
    display: none;
    cursor: pointer;

    &-menu {
      position: absolute;
      top: -100px;
      z-index: 50;
      padding-bottom: 30px;
      width: 100%;
      background-color: #fff;
      transition: all 0.3s ease-in-out;

      ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 15px;
      }
    }
  }
}

.open-menu {
  transform: translateY(200px);
}

@include tablet {
  .header {
    &__nav {
      display: none;
    }

    &__burger {
      display: block;
    }
  }
}
