.hero {
  &__container {
    padding: 0;
  }

  &__top {
    display: flex;
    justify-content: start;
    height: 100%;
    max-height: 536px;
  }

  &__title {
    padding-top: 164px;
    padding-left: 160px;
    max-width: 600px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(24px, 5vw, 28px);
    line-height: clamp(117%, 4vw, 143%);
    color: var(--primary);
  }

  &__form-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    height: 599px;
  }

  &__bg {
    position: absolute;
    right: 0;
    top: 26px;
  }

  &__form {
    position: absolute;
    right: 88px;
    top: 105px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 52px 27px 45px;
    width: 100%;
    max-width: 354px;
    box-shadow: 0 0 12px 12px rgba(216, 30, 5, 0.29);
    background: rgba(74, 74, 74, 0.82);
    gap: 11.5px;

    input {
      width: 100%;
    }
  }

  &__img {
    &-mob {
      position: relative;
      display: none;
      margin-top: 9px;
      width: 100%;
      height: 187px;
      max-width: 356px;
      background: #d9d9d9;
    }
  }

  &__bottom {
    display: flex;
    margin-top: 101px;

    &-img {
      padding-left: 90px;

      img {
        max-width: 474px;
        max-height: 223px;
      }
    }

    &-text {
      margin-left: 50px;
      padding-top: 62px;
      max-width: 497px;
      font-size: clamp(24px, 4vw, 25px);
      line-height: clamp(117%, 4vw, 124%);
      color: var(--secondary);
    }

    &-subtitle {
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--primary);
    }
  }
}

@include tablet {
  .hero {
    &__top {
      flex-direction: column;
      align-items: center;
      max-height: none;
    }

    &__title {
      padding: 0;
      padding: 28px 30px;
      width: 100%;
      text-align: center;
    }

    &__bg {
      display: none;
    }

    &__form {
      position: relative;
      right: 0;
      top: 0;
      box-shadow: 0 4px 19px 4px rgba(0, 0, 0, 0.19);
      background: #fff;

      input {
        background: #f7f7f7;

        &::placeholder {
          text-align: center;
        }
      }

      &-container {
        align-items: center;
        justify-content: center;
        padding: 53.5px 0;
        height: auto;
      }
    }

    &__img {
      &-mob {
        display: block;
      }
    }

    &__bottom {
      justify-content: center;
      margin-top: 0;

      &-img {
        display: none;
      }

      &-text {
        margin-left: 0;
        padding: 4px 35px;
        text-align: center;
      }
    }
  }
}
