.slider {
  height: 612px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  &__bg {
    position: absolute;
    right: -31px;
    top: 0;
    width: 100%;
    height: 100%;

    // position: absolute;
    background-image: url("../../img/slider-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__container {
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;

    // background: var(--primary);
    background-image: url("../../img/slider-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__swiper {
    height: 612px;

    .swiper-wrapper {
      // width: 750px;
      top: -16px;
      display: flex;
      align-items: center;
      justify-content: center;

      // padding-left: 2163px;
      // transform: translateX(180%);
    }
  }

  &__slide {
    left: 182%;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;

    &-container {
      position: relative;
      padding: 29px 30px 0;
      width: 100%;
      height: 362px;
      max-width: 750px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      background: #fff;
    }

    &-top {
      display: flex;
      padding: 0 30px;
    }

    &-avatar {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      max-width: clamp(91px, 11vw, 132px);
      max-height: clamp(91px, 11vw, 132px);
    }

    &-info {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      padding-left: 38px;

      img {
        margin-top: 1px;
        width: 33px;
        height: 33px;
      }
    }

    &-name {
      font-weight: 500;
      font-size: 23px;
      line-height: 150%;
      color: #00062b;
    }

    &-occupation {
      margin-top: 6px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #00062b;
    }

    &-desc {
      position: relative;
      margin-top: 31px;
      border-top: 1px solid #ebebeb;
      padding: 0 30px;
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
      line-height: 150%;
      color: #00062b;

      &::after {
        content: "";
        position: absolute;
        left: 82px;
        top: -8px;
        border-top: 1px solid #ebebeb;
        border-left: 1px solid #ebebeb;
        width: 15px;
        height: 15px;
        background: #fff;
        transform: rotate(45deg);
      }

      p {
        padding-top: 28px;
      }
    }
  }
}

@include tablet {
  .slider {
    height: 375px;

    &__container {
      background-size: cover;
    }

    &__slide {
      left: 205%;
      top: -100px;

      &-container {
        padding: 25px 29px 0;
        height: auto;
      }

      &-top {
        padding-left: 0;
      }

      &-info {
        padding-top: 0;
        padding-left: 25px;
      }

      &-name {
        margin-top: 15px;
      }

      &-occupation {
        margin-top: 0;
      }

      &-desc {
        margin-top: 0;
        border: none;
        padding: 0;

        p {
          padding-top: 0;
        }
      }
    }

    &__swiper {
      .swiper-wrapper {
        transform: translateY(-0%);
      }
    }
  }
}
