<div class="cards">
  <div class="cards__container container">
    <p class="cards__title">Inizia a servire con noi</p>
    <div class="cards__grid">
      <div class="cards__item">
        <img src="../img/cards_1.svg" alt="card-img" class="cards__item-img">
        <p class="cards__item-title">Registrazione</p>
        <p class="cards__item-desc">Compilare tutti i campi del modulo di registrazione sul sito web.</p>
        <button class="cards__item-btn d-btn">INIZIARE</button>
      </div>
      <div class="cards__item">
        <img src="../img/cards_2.svg" alt="card-img" class="cards__item-img">
        <p class="cards__item-title">Consultazione di esperti</p>
        <p class="cards__item-desc">Dopo la registrazione, rispondere all'invito del Consulente di supporto di Petrol Energia e seguire tutte le sue istruzioni.</p>
        <button class="cards__item-btn d-btn">INIZIARE</button>
      </div>
      <div class="cards__item">
        <img src="../img/cards_3.svg" alt="card-img" class="cards__item-img">
        <p class="cards__item-title">Deposito</p>
        <p class="cards__item-desc">Dopo la verifica, è necessario depositare un minimo di 250 euro sul conto dell'azionista.</p>
        <button class="cards__item-btn d-btn">INIZIARE</button>
      </div>
    </div>
  </div>
</div>
