<footer class="footer">
  <div class="footer__container container">
    <div class="footer__logo">
      <img src="../img/logo.svg" alt="logo">
    </div>
    <div class="footer__nav">
      <ul class="">
        <li class="footer__link">
          <a href="#">Mappa del sito</a>
        </li>
        <li class="footer__link">
          <a href="#">Termini di utilizzo</a>
        </li>
        <li class="footer__link">
          <a href="#">Avviso di accessibilità</a>
        </li>
        <li class="footer__link">
          <a href="#">Gestione dei Cookie</a>
        </li>
        <li class="footer__link">
          <a href="#">Politica sulla protezione dei dati e informativa sulla privacy</a>
        </li>
      </ul>
      <ul class="">
        <li class="footer__link">
          <a href="#">Avviso di frode Web e phishing</a>
        </li>
        <li class="footer__link">
          <a href="#">Politica sui reclami – Australia</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
