<header class="header">
  <div class="header__container container">
    <div class="header__logo">
      <img src="../img/logo.svg" alt="logo" />
    </div>
    <nav class="header__nav">
      <ul>
        <li><a href="#">Informazioni</a></li>
        <li><a href="#">CEO</a></li>
        <li><a href="#">Iniziare a guadagnare subito</a></li>
      </ul>
    </nav>
    <div class="header__burger">
      <img src="../img/burger.svg" alt="open-menu" />
    </div>
  </div>
  <div class="header__burger-menu">
    <nav>
      <ul>
        <li><a href="#">Informazioni</a></li>
        <li><a href="#">CEO</a></li>
        <li><a href="#">Iniziare a guadagnare subito</a></li>
      </ul>
    </nav>
  </div>
</header>
