<div class="hero">
  <div class="container hero__container">
    <div class="hero__top">
      <h1 class="hero__title">Investire 250 euro per raggiungere 5000 euro in una settimana vi sembra impossibile?
        Con il Gruppo Generali potete fare ancora di più!
      </h1>
      <div class="hero__form-container">
        <img src="../img/hero_bg.svg" alt="hero-bg" class="hero__bg">
        <div class="hero__form">
          <input class="d-input" placeholder="il suo nome" type="text">
          <input class="d-input" placeholder="il suo cog" type="text">
          <input class="d-input" placeholder="e-mail" type="text">
          <input class="d-input" id="phone" type="tel">
          <button class="hero__form-submit">Registrati</button>
        </div>
      </div>

    </div>
    <div class="hero__bottom">

    </div>
  </div>
</div>
