<div class="slider">
  <div class="slider__container container">
      <div class="swiper slider__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide slider__slide">
            <div class="slider__slide-container">
              <div class="slider__slide-top">
                <img class="slider__slide-avatar" src="../img/slide-1.png" alt="portrait">
                <div class="slider__slide-info">
                  <p class="slider__slide-name">Jeff Bezos:</p>
                  <div class="slider__slide-occupation">Technologieunternehmer, Investor und Philanthrop</div>
                  <img src="../img/facebook.svg" alt="facebook">
                </div>
              </div>
              <div class="slider__slide-desc">
                <p>Dem Quantencomputing gehört die Zukunft. Ich übertreibe nicht, wenn ich sage, es wird
                  alles verändern wird. Das Quantencomputing steht noch ganz am Anfang; nicht viele
                  Menschen wissen davon, was bedeutet, dass nur sehr wenige es nutzen. Die wenigen, die
                  es nutzen, treffen unglaublich kluge (und profitable) Entscheidungen.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide slider__slide">
            <div class="slider__slide-container">
              <div class="slider__slide-top">
                <img class="slider__slide-avatar" src="../img/slide-2.png" alt="portrait">
                <div class="slider__slide-info">
                  <p class="slider__slide-name">Bill Gates:</p>
                  <div class="slider__slide-occupation">Technologieunternehmer, Investor und Philanthrop</div>
                  <img src="../img/facebook.svg" alt="facebook">
                </div>
              </div>
              <div class="slider__slide-desc">
                <p>Dem Quantencomputing gehört die Zukunft. Ich übertreibe nicht, wenn ich sage, es wird
                  alles verändern wird. Das Quantencomputing steht noch ganz am Anfang; nicht viele
                  Menschen wissen davon, was bedeutet, dass nur sehr wenige es nutzen. Die wenigen, die
                  es nutzen, treffen unglaublich kluge (und profitable) Entscheidungen.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide slider__slide">
            <div class="slider__slide-container">
              <div class="slider__slide-top">
                <img class="slider__slide-avatar" src="../img/slide-3.png" alt="portrait">
                <div class="slider__slide-info">
                  <p class="slider__slide-name">Bill Gates:</p>
                  <div class="slider__slide-occupation">Technologieunternehmer, Investor und Philanthrop</div>
                  <img src="../img/facebook.svg" alt="facebook">
                </div>
              </div>
              <div class="slider__slide-desc">
                <p>Dem Quantencomputing gehört die Zukunft. Ich übertreibe nicht, wenn ich sage, es wird
                  alles verändern wird. Das Quantencomputing steht noch ganz am Anfang; nicht viele
                  Menschen wissen davon, was bedeutet, dass nur sehr wenige es nutzen. Die wenigen, die
                  es nutzen, treffen unglaublich kluge (und profitable) Entscheidungen.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide slider__slide">
            <div class="slider__slide-container">
              <div class="slider__slide-top">
                <img class="slider__slide-avatar" src="../img/slide-4.png" alt="portrait">
                <div class="slider__slide-info">
                  <p class="slider__slide-name">Bill Gates:</p>
                  <div class="slider__slide-occupation">Technologieunternehmer, Investor und Philanthrop</div>
                  <img src="../img/facebook.svg" alt="facebook">
                </div>
              </div>
              <div class="slider__slide-desc">
                <p>Dem Quantencomputing gehört die Zukunft. Ich übertreibe nicht, wenn ich sage, es wird
                  alles verändern wird. Das Quantencomputing steht noch ganz am Anfang; nicht viele
                  Menschen wissen davon, was bedeutet, dass nur sehr wenige es nutzen. Die wenigen, die
                  es nutzen, treffen unglaublich kluge (und profitable) Entscheidungen.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide slider__slide">
            <div class="slider__slide-container">
              <div class="slider__slide-top">
                <img class="slider__slide-avatar" src="../img/slide-5.png" alt="portrait">
                <div class="slider__slide-info">
                  <p class="slider__slide-name">Bill Gates:</p>
                  <div class="slider__slide-occupation">Technologieunternehmer, Investor und Philanthrop</div>
                  <img src="../img/facebook.svg" alt="facebook">
                </div>
              </div>
              <div class="slider__slide-desc">
                <p>Dem Quantencomputing gehört die Zukunft. Ich übertreibe nicht, wenn ich sage, es wird
                  alles verändern wird. Das Quantencomputing steht noch ganz am Anfang; nicht viele
                  Menschen wissen davon, was bedeutet, dass nur sehr wenige es nutzen. Die wenigen, die
                  es nutzen, treffen unglaublich kluge (und profitable) Entscheidungen.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
  </div>
</div>
