<div class="stocks">
  <div class="stocks__container container">
    <p class="stocks__title">Gli azionisti dell'azienda</p>
    <div class="stocks__grid">
      <div class="">
        <img src="../img/stocks-1.png" alt="Mediobanca">
        <img src="../img/stocks-2.png" alt="UniCredit">
        <img src="../img/stocks-3.png" alt="Banca D'Italia">
      </div>
      <div class="">
        <img src="../img/stocks-4.png" alt="B&D Holdings">
        <img src="../img/stocks-5.png" alt="Carlo Gassara">
        <img src="../img/stocks-6.png" alt="Generali">
      </div>
    </div>
  </div>
</div>
